


#mainContent {
	padding: 50px;
}


#aboutMe {
	padding: 20px;
}
#gallery {
	padding: 50px;
}


.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	}
.thumbnail {
	padding: 10px;
}
